:root {
    --cielo: #53C3EB;
    --tarjeta: #00C8FF;
    --tarjetaPortada: #028CF6;
    --informacionTarjeta: #fff;
    --difuminado: #002b7c4d;
    --mar: #0059FF;

    --bordesFormulario: #000;
    --oro: #FFD014;
    --blanco: #fff;

    --tituloTarjeta: 35px;
    --tamanoh1: 40px;
    --tamanoBotones: 30px;
    --fuenteTarjeta: "SplineSans";
    --fuenteEncabezado: "SplineSans-bold";
}

@font-face {
    font-family: "SplineSans-bold";
    src: url("fonts/SplineSans/SplineSans-Bold.ttf") format("ttf");
    font-display: swap;
}

@font-face {
    font-family: "SplineSans";
    src: url("fonts/SplineSans/SplineSans-Light.ttf") format("ttf");
    font-weight: 300;
    font-display: swap;
}

.encabezado {
    display: block;
    color: var(--oro);
    font-size: var(--tituloTarjeta);
    font-family: var(--fuenteTarjeta);

}

h1 {
    display: block;
    color: var(--oro);
    font-size: var(--tamanoh1);
    font-family: var(--fuenteEncabezado);
    font-weight: 700;
}