body {
    background-color: var(--cielo);
}

.difuminado {
    width: 80vw;
    height: 100%;
    margin: auto;
    background-color: var(--difuminado);
    border-radius: 20px;
    padding: 60px;
}

section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}



.indexGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 300px;
    gap: 80px 30px;

}

.destacados {
    display: flex;
    gap: 1vw;
    width: 100%;
    height: 300px;
    justify-content: space-between;
}

.destacados * {
    Background-color: var(--blanco);
    flex-grow: 1;
    border-radius: 20px;
}

.destacados :nth-child(2) {
    flex-grow: 5;
}

.tarjeta {
    height: 100%;
    border-radius: 20px;
    background-color: var(--tarjeta);
    position: relative;
    overflow: hidden;
    transition: height 0.3s linear ;
}

.tarjeta:hover {
    border: 3px solid var(--blanco);

}

.tarjetaAbierta {
    height: 150%;
    z-index: 100;
    border: 3px solid var(--blanco);

}
.tarjetaAbierta::before {
    height: 20%;
}




.tarjetaPortada {
    
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--tarjetaPortada);
    z-index: 50;
    pointer-events: none;
    transition: height 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.tarjetaAbierta .tarjetaPortada {
    height: 40%;
}


.tarjeta .texto {
    z-index: 80;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#descripcion {
    display: none;
}

.tarjetaAbierta .texto #descripcion {
    display: inline-block;
}

.texto * {
    font-family: var(--fuenteTarjeta);
    color: var(--informacionTarjeta);
    text-align: center;
}

.texto :first-child {
    font-size: var(--tituloTarjeta);
}

.enlaceVolver {
    font-family: var(--fuenteTarjeta);
    color: var(--informacionTarjeta);
    font-size: var(--tamanoBotones)
}

.contenedorMar {
    width: 100%;
    height: 60%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
}

.mar {
    
    background-color: var(--mar);
   flex-grow: 5;
}

.ola {
    
   flex-grow: 1;
   mask-image: url('../../imagenes/ola.png');
   background-color: var(--mar);
   animation: animacionOla 10s linear infinite;
   mask-size: contain;
   mask-repeat: repeat-x;
}

@keyframes animacionOla {
    from {
        mask-position: 0 bottom;
    }

    to {
        mask-position: 2928px bottom;
    }
}

