body {
    background-color: var(--cielo);
}

.difuminado {
    width: 80vw;
    height: 100%;
    margin: auto;
    background-color: var(--difuminado);
    border-radius: 20px;
    padding: 60px;
    backdrop-filter: blur(10px);
}

section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}



.indexGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 300px;
    gap: 80px 30px;

}

.destacados {
    display: flex;
    gap: 1vw;
    width: 100%;
    height: 300px;
    justify-content: space-between;
}

.destacados * {
    Background-color: var(--blanco);
    flex-grow: 1;
    border-radius: 20px;
}

.destacados :nth-child(2) {
    flex-grow: 5;
}

.tarjeta {
    height: 100%;
    border-radius: 20px;
    background-color: var(--tarjeta);
    position: relative;
    transition: height 0.3s linear;
    overflow: hidden;
}

.tarjeta:hover {
    border: 3px solid var(--blanco);

}

.tarjetaAbierta {
    height: 150%;
    z-index: 100;
    border: 3px solid var(--blanco);

}

.tarjetaAbierta::before {
    height: 20%;
}




.tarjetaPortada {
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--tarjetaPortada);
    z-index: 50;
    pointer-events: none;
    transition: height 0.7s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.tarjeta:hover .tarjetaPortada {
    height: 65%;
} 

.tarjetaAbierta:hover .tarjetaPortada {
    height: 30%;
} 

.tarjetaAbierta .tarjetaPortada {
    height: 30%;
}


.tarjeta .texto {
    z-index: 80;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#descripcion {
    display: none;
}

.tarjetaAbierta .texto #descripcion {
    display: inline-block;
}

.texto * {
    font-family: var(--fuenteTarjeta);
    color: var(--informacionTarjeta);
    text-align: center;
}

.texto :first-child {
    font-size: var(--tituloTarjeta);
}

.enlaceVolver {
    font-family: var(--fuenteTarjeta);
    color: var(--informacionTarjeta);
    font-size: var(--tamanoBotones)
}

.ocean {
    width: 100%;
    height: 80%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
}

.mar {

    background-color: var(--mar);
    flex-grow: 12;
}

.ola {

    flex-grow: 1;
    display: flex;
}

.onda {
    animation: animacionOnda 1.5s linear infinite;
    fill: var(--mar);
}

.ondaTarjeta {
    fill: var(--tarjetaPortada);

}

.oceanTarjeta {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 130%;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}

@keyframes animacionOnda {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(50%);
    }
}